<div class="modal" id="modal-group" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button onclick="closePopup()" type="button" class="close" id="close-btn">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= render 'groups/form' %>
    </div>
  </div>
</div>
