/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

:root {
  --righteous-font: 'Righteous', cursive;
}

html {
  background-image: url("http://pctechtips.org/apps/todo/img/Chicago-Wallpaper-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  background-color: rgba(31, 34, 118, 0.5);
  min-height: 100vh;
  min-width: 100vw;
  padding: 100px 0;
  width: 100%;
  z-index: -10;
  overflow-x: hidden;
  color: white;
  font-size: 1.3rem;
}
.hero {
  //background-color: rgba(31, 34, 118, 0.5);
  .container {
    text-align: center;
    button.open {
      margin-bottom: 20px;
      max-width: 180px;
      width: 100%;
    }
  }
  .filters-container {
    margin-bottom: 5px;
  }
  .search-input-container {
    display: flex;
    .input-group {
      margin-right: 5px;
    }
  }
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h1 {
      margin: 0 0 20px 0;
    }
    .input-group {
      max-width: 500px;
      margin: 0 auto 20px;
    }
  }
  .list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    margin: 0;
    font-family: var(--righteous-font);
  }
  .lead {
    font-size: 1.5rem;
    font-family: var(--righteous-font);
  }
  ul {
    width: 100%;
    max-width: 600px;
    padding: 0;
    margin-top: 2rem;
    list-style: none;
  }
  li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
    transition: all 0.2s ease;
    &.alert-success {
      background-color: rgba(40, 255, 4, 0.42);
      .task-title {
        text-decoration: line-through;
        color: #fff;
      }
      .remove-btn {
        color: #fff;
      }
    }
    &.alert-secondary {
      background-color: rgba(255, 255, 255, 0.54);
    }
    .task-title {
      margin: 0;
    }
    .buttons-container {
      display: flex;
      .remove-btn {
        cursor: pointer;
        margin-right: 10px;
        background: transparent;
        border: none;
        font-size: 16px;
        outline: none;
      }
      .checkbox {
        cursor: pointer;
      }
    }
  }
  .checkboxes {
    float: right;
    line-height: 15px;
    width: 17px;
    height: 17px;
    background-color: #e9ecef;
    border: 1px solid #e9ecef;
    border-radius: 3px;
  }

  .search-form {
    max-width: 500px;
    margin: 0 auto;
  }

  .bg-dark {
    background-color: #343a4069;
  }
}

.navbar {
  .container {
    display: flex;
    justify-content: space-between;
  }
  .user-data-container {
    display: flex;
    align-items: center;
    p {
      margin: 0 10px 0 0;
      font-size: 14px;
    }
  }
}

.modal {
  justify-content: center;
  align-items: center;
  transition: background 0.1s ease;
  &.active {
    display: flex;
    background: rgba(0, 0, 0, 0.6);
  }
  .modal-dialog {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px 25px;
    .close {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 25px;
      outline: none;
    }
    button.save {
      margin-top: 20px;
    }
  }
  form.new_task {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    .input-group, .form-group, .field_with_errors, input {
      width: 100%;
    }
    button {
      width: 100px;
    }
  }
  .error {
    color: red;
  }
}